# Environment
.venv/
.env

# Python
__pycache__/
*.pyc

# Notebook
.ipynb_checkpoints/

# Models
models/

# Vector database
vector_store/

# Generated application outputs
outputs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db