# Data Science
numpy
pandas
matplotlib
scikit-learn

# Deep Learning
tensorflow
torch
torchvision
torchaudio

# Hugging Face
transformers==5.14.1 
datasets
accelerate
sentence-transformers

# RAG
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma==1.1.0
chromadb
faiss-cpu
pypdf

# OpenAI
openai
python-dotenv

# Notebook
jupyter
ipykernel

# Visualization
tqdm

# Web App
streamlit

# Image Generation
diffusers
safetensors

# Utilities
requests

pillow